.jumbotron {
  background-image: url(../img/monorail.jpg);;
  color: rgba(240, 173, 78, 1);;
  text-shadow: 10px;
  text-align: center;
  opacity: .90;
  margin-top: 10px
}

.quiz {
  background-color: rgba(246, 246, 246, 1);
  width: 600px;
  padding: 10px 10px 10px 30px;
}

.initially-hidden {
  display: none;
}

.output {
  text-align: center;
  font-weight: 800;
}
